* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}

.banana ,.italian {
    background-color: darkcyan;
    color: black;
    margin: 30px;
    padding: 20px;
    font-size: 30px;
}
.steps {
    margin: 15px;}

#ingredients {
    font-size: 30px;
    background-color: darkcyan;
    margin: 30px;
}

.ing {
    margin: 10px;
}

.heading {
    font-size: 35px;
}

.bigheading {
    font-size: 45px;
}

#p {
    background-color: darkblue;
    font-size: 20px;
    color: mediumseagreen;
    margin: 20px;
    padding: 10px;
}

.link {
    font-size: 25px;
}